# ==========================================
# 1. Database & Schema Settings
# ==========================================
POSTGRES_HOST=db
POSTGRES_DB=app
POSTGRES_PORT=5432
APP_SCHEMA=app
MIGRATION_SCHEMA=migration

# ==========================================
# 2. Root / Superuser
# ==========================================
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# ==========================================
# 3. Migration User
# ==========================================
MIGRATION_USER=migrator
MIGRATION_PASSWORD=migrator_pass

# ==========================================
# 4. Application User
# ==========================================
APP_USER=app_user
APP_PASSWORD=app_pass
